#content-area{
  overflow: auto;
  width: 100%;
  min-height: 100vh;
}

#filter{
  background: $grey;
  // width: 30%;
  // max-width: 200px;
  display: inline-block;
  float: left;
}

.inside {
  padding: 20px;
  max-width: 300px;
}

h4{
  font-size: 0.9rem;
  margin-bottom: 25px;
  font-weight: 500;
  text-transform: uppercase;
}

select {
  background: transparent;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #1b1b1b;
  display: block;
  margin-bottom: 25px;
  width: 100%;
}
.title {
  font-size: 1rem;
  display: block;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: $darkgrey;
}
.filters {
  input[type="text"] {
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.4rem;
    display: inline-block !important;
    margin-right: 1rem;
  }
  //Filters that have the class of extras
  &.extras{
    label {
      display: block;
      width: 100%;
      padding: 10px 0;
      font-size: 0.8rem;
      input[type="checkbox"]{
        float: right;
      }
    }
  }
}

#listings{
  width: 100%;
  float: left;
  display: inline-block;
  padding: 15px;
  background: $offwhite;
  .search-area {
    input[type="text"] {
      width: 70%;
      background: transparent;
      font-size: 1.8rem;
      border: none;
      border-bottom: 2px solid $darkgrey;
      margin-bottom: 20px;
      font-weight: 100;
      color: $lightgrey;
      font-family: 'roboto';
    }
  }
  .sortby-area{
    margin-bottom: 20px;
    .results{
      font-size: 0.8rem;
      color: $darkgrey;
      display: inline-block;
    }
    .sort-options{
      float: right;
      select{
        font-size: 0.9rem;
        font-weight: 300;
        border: 1px solid $lightgrey;
        background: transparent;
        display: inline-block;
        vertical-align: top;
        margin: 0 15px 0 0;
        padding: 0;
        width: 150px;
      }
      .view{
        display: inline-block;
        .fa{
          margin-right: 15px;
          font-size: 1.5rem;
        }
      }
    }
  }

  .listings-results{
    margin-bottom: 60px;
    .listing{
      background: #fff;
      border-radius: 5px;
      -webkit-box-shadow: 0px 9px 54px -4px rgba(148,148,148,1);
      -moz-box-shadow: 0px 9px 54px -4px rgba(148,148,148,1);
      box-shadow: 0px 9px 54px -4px rgba(148,148,148,1);
    }
    .listing-img{
      color: white;
      padding: 15px;
      position: relative;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      min-height: 200px;
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      //Makes house info visible on hover and hides the text "Adress"
      &:hover{
        .details{
          opacity: 1;
        }
        .address{
          opacity: 0;
        }
      }
      .address{
        font-size: 1.3rem;
        //Capitalizes first letter of each word
        text-transform: capitalize;
        position: absolute;
        bottom: 20px;
        opacity: 1;
        //Animation for transition
        transition: all 0.4s ease-in-out;
        text-shadow: 0px 1px 4px rgba(91, 91, 91, 1);
      }
      .details{
        transition: all 0.4s ease-in-out;
        //Makes house info invisible by default
        opacity: 0;
        padding: 30px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#db2b2b+0,d14545+100 */
        background: rgba(219,43,43,.8); /* Old browsers */
        background: -moz-linear-gradient(left, rgba(219,43,43,.8) 0%, rgba(209,69,69,.8) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(219,43,43,.8) 0%,rgba(209,69,69,.8) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(219,43,43,.8) 0%,rgba(209,69,69,.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        .user-img{
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: 2px solid white;
          display: inline-block;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        }
        .user-img-long{
          width: 80px;
          height: 80px;
          border-radius: 50%;
          border: 2px solid white;
          display: inline-block;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        }
        .user-details {
          vertical-align: top;
          display: inline-block;
          .user-name{
            font-weight: 300;
            font-size: 0.9rem;
            display: block;
            color: rgba(255,255,255, 1);
            margin-top: 3px;
            margin-bottom: 5px;
          }
          .post-date{
            font-size: 0.9rem;
            display: block;
            color: rgba(255,255,255, .7);
          }
        }
        .listing-details{
          margin-top: 20px;
          margin-bottom: 10px;
          .fa {
            display: inline-block;
            font-size: 20px;
            margin-right: 15px;
          }
          span{
            font-weight: 300;
            font-size: 0.8rem;
            display: inline-block;
            vertical-align: top;
            position: relative;
            top: 3px;
          }
          .floor-space{
            margin-bottom: 10px;
          }
        }
      }
    }
    .bottom-info{
      padding: 20px 15px;
      .price{
        font-size: 1rem;
        display: block;
        margin-bottom: 10px;
        color: $darkgrey;
      }
      .location{
        display: block;
        font-size: 1.2rem;
        color: $lightgrey;
      }
    }
  }
}

.view-btn{
  background: black;
  padding: 8px;
  font-size: 0.9rem;
  border-radius: 5px;
  text-align: center;
  max-width: 150px;
  transition: background 0.3s ease-in-out;
  //Changes to pink and to a pointer when hovering
  &:hover{
    background: $burgundy;
    cursor: pointer;
  }
}

#pagination{
  text-align: center;
  .pages{
    margin: 0 auto;
    display: inline-block;
    background: white;
    -webkit-box-shadow: 0px 9px 54px -4px rgba(148,148,148,1);
    -moz-box-shadow: 0px 9px 54px -4px rgba(148,148,148,1);
    box-shadow: 0px 9px 54px -4px rgba(148,148,148,1);
    li{
      padding: 20px 30px;
      display: inline-block;
      &:hover,
      &.active{
        color: white;
        font-weight: 700;
        background: $burgundy;
        cursor: pointer;
      }
    }
  }
}

//Same functionality as Bootstrap grid system
.col-md-3{
  display: inline-block;
  vertical-align: top;
}

.col-md-9{
  display: inline-block;
}

.col-lg-6{
  display: inline-block;
  vertical-align: top;
}
