header{
  margin-bottom: 50px;
  .logo {
    width: 150px;
  }
  .navbar{
    padding: 5px;
  }
  .navbar-nav{
    a {
      color: black;
      text-decoration: none;
      text-transform: uppercase;
      transition: background 0.3s ease-in-out;
      letter-spacing: 1px;
      border-bottom: 3px solid transparent;
      &:hover{
        border-color: $burgundyHover;
        font-weight: 600;
      }
    }
  }
}
